// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    // background-image: url("keep-calm-and-donate-a-gold-coin.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-color: pink;
}
.myfont {
    font-size: 20px;
}
nav a {
    display: inline;
    font-size: 20px;
}

.labelClass {
    font-weight: normal;
    font-size: 20px;
}
.textindent{
    font-size: 10px;
    margin: 0 auto;
}
